* {
    background-color: #1d4e89;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: solid 2px darkred;
    font-family: 'Times New Roman', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    display: flex;
    height: 80px;
    flex-direction: column;
    justify-content: center;
    font-size: 60px;
    color: #f79256;
    font-weight: bold;
}

img {
    height: auto;
    width: 250px;
}
