* {
    background-color: #1d4e89;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: auto;
    width: 250px;
    border: solid 2px darkred;
}

header {
    display: flex;
    justify-content: center;
}
