* {
    background-color: #1d4e89;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: solid 1px darkred;
    font-family: 'Times New Roman', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    display: flex;
    height: 100px;
    flex-direction: column;
    justify-content: center;
    font-size: 60px;
    color: #f79256;
    font-weight: bold;
    margin-bottom: 20px;
}

img {
    height: auto;
    width: 250px;
}



/* SCOREBOARD */
.scoreboard {
    display: flex;
    width: 400px;
    justify-content: space-between;
    color:#f79256;
    font-weight: bold;
    font-size: 30px;
    padding: 25px;
}

.player, .dash, .computer{
    display: flex;
    flex-direction: column;
    height: 160px;
    justify-content: space-between;
}

.player-icon img, .computer-icon img {
    width: 100px;
}

.player-score, .computer-score {
    display: flex;
    justify-content:center;
}

.dash {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}



/* OPTIONS */
.options {
    display: flex;
    width: 850px;
    justify-content: space-between;
    padding: 50px;
}

.options button {
    background-color: #fbd1a2;
    padding: 30px;
    border: none;
    border-radius: 20px;
    opacity: 0.85;
}

.options button:hover {
    opacity: 1;
    transform: translateY(-5px);
    box-shadow: 0 10px 10px #0f335e;
}

button img {
    width: 150px;
    background: transparent;
}



/* FOOTER */
footer { 
   padding-bottom: 5px;
   color:#06203f;
}
